	

	{% block footer %}

</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<!-- Banner End -->

<table width="580" cellspacing="0" cellpadding="0" border="0" style="background:#fafafa" align="center">
            <tbody>
            <tr>
                <td>
                    <table width="580" cellspacing="0" cellpadding="0" border="0">
                        <tbody><tr>
                            <td width="190" valign="middle">
                                <hr>
                            </td>
                            <td width="200" valign="middle" align="center">
                                <p style="font-size:20px;line-height:100%;font-family:Calibri,Arial,Helvetica,sans-serif;color:#08418c;margin:0 0 0 0;padding-top:20px;">
                                    Need <strong>Help?</strong>
                                </p>
                            </td>
                            <td width="190" valign="middle">
                               <hr>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p style="font-size:14px;line-height:130%;font-family:Calibri,Arial,Helvetica,sans-serif;color:#747474;margin:0 0 0 0">
                        If you need more assistance, please feel free to contact us.<br>
                         Our friendly and experienced agents are on stand by to<br>
                        make sure you get the best customer experience with our services
                    </p>
                </td>
            </tr>
            <tr>
                <td height="20" align="center">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width="580" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody><tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody
                                    <tr>
                                        <td width="" valign="middle">
                                            <p>
                                                <a href="mailto:{{site.email}}" style="font-size:14px;line-height:130%;font-family:Calibri,Arial,Helvetica,sans-serif;color:#0a90cb;text-decoration:none" target="_blank"><strong>{{site.email}}</strong></a>
                                            </p>
                                        </td>
                                        <td width="15">
                                            &nbsp;
                                        </td>
                                        <td style="font-size:14px;line-height:130%;font-family:Calibri,Arial,Helvetica,sans-serif;color:#747474" width="" valign="middle">
                                            <p>
                                              Call : {{site.phone}}
                                            </p>
                                        </td>
                                        <td width="15">
                                            &nbsp;
                                        </td>
                                        <td style="font-size:14px;line-height:130%;font-family:Calibri,Arial,Helvetica,sans-serif;color:#747474" valign="middle">
                                            <p>
                                               Whatsapp "Help" to {{site.whatsapp}}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td height="20" align="center">
                <br>
                    <p style="font-size:14px;;font-family:Calibri,Arial,Helvetica,sans-serif;color:#747474;margin:0 0 5px 0">
                        <span>Ask your questions or check some of our frequently asked questions, visit </span><a href="{{site.url}}faqs" style="color:#0a90cb;text-decoration:none" target="_blank" ><strong>FAQs</strong></a>
                    </p>
                </td>
            </tr>
        </tbody>    
    </table>
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
        <tr>
            <td align="center" style="color: #000; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                     <p style="font-size:12px;font-family:Calibri,Arial,Helvetica,sans-serif;color:#219acf;margin:0 0 0 0">
                                                <a href="{{site.url}}terms" style="color:#219acf;text-decoration:none" title="{{site.name}} Terms and Conditions" target="_blank">Terms and Conditions</a><span> | 
                    
                                                </span><a href="{{site.url}}privacy" style="color:#219acf;text-decoration:none" title="{{site.name}} Privacy Policy" target="_blank">Privacy Policy</a><span> |
                    
                                                </span><a href="{{site.url}}disclaimer" style="color:#219acf;text-decoration:none" title="{{site.name}} disclaimer" target="_blank" >Disclaimer</a>
                               </p><br> 
             <p style="padding-bottom:20px;font-size:12px;font-family:Calibri,Arial,Helvetica,sans-serif;"> Copyright © {{ 'now'|date('Y') }}</p>
            </td>
        </tr>
        </table>

</body>
</html>
{% endblock footer %}
